.info-container {
  width: 100%;
  max-width: none;
}

.info-container h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

.tires-section {
  margin-bottom: 60px;
  text-align: center;
}

.tires-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 50px;
  margin-top: 90px;
}

.tire-card {
  text-align: center;
}

.tire-image {
  width: 50%; 
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

.carousel-text {
  margin-top: 50px;
  font-size: 1.3rem;
  color: #e5e5e5;
}

.carousel-arrow {
  position: relative; 
  z-index: 5; 
}

.downforce-section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downforce-section h2 {
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 40px;
  font-size: 2.5rem; 
}

.downforce-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto; 
  margin-bottom: 40px;
  transform: translateX(-180px) 
}

.downforce-text {
  flex: 3; 
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-right: 40px;
}

.downforce-image {
  flex: 1; 
  text-align: center;
}

.downforce-image img {
  max-width: 350%; 
  height: auto;
  border-radius: 10px;
}

.weather-content {
  display: flex;
  justify-content: space-around;
  gap: 40px; 
  transform: translateX(-110px) 
}

.weather-section h2 {
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 40px;
  font-size: 2.5rem; 
}

.weather-card img {
  max-width: 500px; 
  height: auto;
  border-radius: 10px;
}

.weather-card p {
  margin-top: 35px; 
  text-align: center;
  font-size: 1.3rem; 
}

.carousel-arrow {
  position: relative;
  z-index: 5;
  margin: 0 20px;
}

.circuits-section {
  width: 100%; 
  max-width: 1400px; 
  margin: 0 auto; 
  padding-bottom: 100px; 
}

.circuits-section h2 {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

.circuit-card img {
  width: 90%; 
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.circuit-card p {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 60px;
}

.circuits-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; 
}

.drivers-section {
  padding-bottom: 50px; 
}

.drivers-section h2{
  font-weight: bold;
  font-size: 2.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  color: #e5e5e5;
  
}

table, th, td {
  border: 1px solid #333;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #ff1500;
  color: #ffffff;
  font-weight: bold;
}

